<div id="<%= dom_id session %>" class="container my-4 p-4 border rounded">
  <h4 class="mb-3">Session Details</h4>

  <div class="row mb-3">
    <div class="col-md-4">
      <strong>Date:</strong>
      <p><%= session.date %></p>
    </div>
    <div class="col-md-8">
      <strong>Session Name:</strong>
      <p><%= session.name %></p>
    </div>
  </div>

  <div id="sessionmove">
  <% session.movements.each_with_index do |movement, i| %>
    <%= turbo_frame_tag "movement_#{movement.id}" do %>
    <div class="border rounded p-3 mb-4 ">
      <h5 class="mb-3">Movement <%= i + 1 %></h5>

      <div class="row mb-2">
        <div class="col-md-6">
          <strong>Name:</strong>
          <p><%= movement.name %></p>
        </div>
        <div class="col-md-6">
          <strong>Notes:</strong>
          <p><%= movement.notes %></p>
        </div>
      </div>

      <% if movement.work.present? %>
        <div class="mt-3">
          <h6 class="fw-bold mb-2">Sets</h6>
          <div class="row fw-bold border-bottom pb-1 mb-2">
            <div class="col-6">Weight</div>
            <div class="col-6">Reps</div>
          </div>
          <% JSON.parse(movement.work).each do |set| %>
            <div class="row mb-1">
              <div class="col-6"><%= set["weight"] %></div>
              <div class="col-6"><%= set["rep"] %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
        <%= button_to "Delete Movement", session_movement_path(session, movement), method: :delete, class:"btn btn-secondary"%>
    <% end %>
  <% end %>
  </div>
  <%= link_to "Add Movement", new_session_movement_path(session), class:"btn btn-primary my-2", data: {turbo_frame: "new_movement"}%>
  <%= turbo_frame_tag "new_movement" %>
  
  <div>
    <%= session.likes.count %>
    <% session.likes.each do |s|%>
      <%= s.user.email %>
    <% end %>
    
    <%= button_to "fist", session_likes_path(session), class:"btn btn-primary"%>

    <% if session.likes.find_by(user: current_user) %>
      <% like = session.likes.find_by(user: current_user) %>
      <%= button_to "remove fist", session_like_path(session, like), method: :delete, class:"btn btn-secondary"%>
    <% end %>
  </div>

  <div>
      <%= link_to "Add Comment", new_session_comment_path(session), type:"button", class:"btn btn-warning", data: {turbo_frame: "new_comment" } %>
    <div id="comment_container_<%=session.id%>">
      <% session.comments.each do |c| %>
          <div>
            <%= c.comment %>
            <%= c.user.email %>
            <%= link_to "Show Comment", session_comment_path(session, c), class:"btn btn-secondary"%>
          </div>
      <% end %>
    </div>
      <%= turbo_frame_tag "new_comment" %>
  </div>

</div>
