<div data-controller="sessioncreate" class="m-1 m-lg-5">
  <%= form_with(model: session) do |form| %>
    <% if session.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>
        <ul>
          <% session.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <input type="hidden" value="1" data-sessioncreate-target="sessioncount">

    <%= form.hidden_field :workout_id, value: @workout.id %>

    <div class="mb-3">
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date, value: Date.today, class: "form-control" %>
    </div>

    <div class="mb-4">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control", value: @workout.name %>
    </div>

    <% @workout.exercises.each do |e| %>

    <% e.movements.each do |m| %>
    <%= m.session.date %>
    <% JSON.parse(m.work).each do |w| %>
    <div>
    weight: <%= w["weight"]%>
    reps: <%= w["rep"]%>
    </div>
    <% end %>
    <% end %>

    <h4>Movements</h4>
    <div data-sessioncreate-target="sessioncontainer">
      <%= form.fields_for :movements do |mov| %>
        <div class="border rounded p-3 mb-4">
          <div class="row mb-3">
            <div class="col-md-6">
              <%= mov.label :name %>
              <%= mov.text_field :name, class: "form-control", value: e.name %>
            </div>
            <div class="col-md-6">
              <%= mov.label :notes %>
              <%= mov.textarea :notes, class: "form-control" %>
            </div>
          </div>

          <% if mov.object.work %>
            <div class="setting">
              <div class="set">
                <% JSON.parse(mov.object.work).each do |set| %>
                  <div class="work-set row mb-2">
                    <div class="col-6">
                      <input type="number" class="form-control weight-input" placeholder="Weight" value="<%= set["weight"] %>">
                    </div>
                    <div class="col-6">
                      <input type="number" class="form-control reps-input" placeholder="Reps" value="<%= set["rep"] %>">
                    </div>
                  </div>
                <% end %>
              </div>
              <%= mov.hidden_field :work, class: "sets" %>
            </div>
          <% else %>
            <div class="setting">
              <div class="setcontainer0 set">
                <div class="work-set row mb-2">
                  <div class="col-6">
                    <input type="number" class="form-control weight-input" placeholder="Weight">
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control reps-input" placeholder="Reps">
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-action="click->sessioncreate#addset">Add Set</button>
              <%= mov.hidden_field :work, class: "sets" %>
              <%= mov.hidden_field :exercise_id, value:e.id %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>

    <button type="button" class="btn btn-outline-primary mb-3" data-action="click->sessioncreate#addsession">Add Movement</button>

    <div>
      <%= form.submit "Save", class: "btn btn-success", data: { action: "click->sessioncreate#createjson" } %>
    </div>
  <% end %>

<template data-sessioncreate-target="sessiontemplate">
  <div class="border rounded p-3 my-3">
    <div class="row mb-3">
      <div class="col-md-6">
        <label style="display: block" for="session_movements_attributes_MOVE_INDEX_name">Name</label>
        <input type="text" name="session[movements_attributes][MOVE_INDEX][name]" id="session_movements_attributes_MOVE_INDEX_name" class="form-control">
      </div>
      <div class="col-md-6">
        <label style="display: block" for="session_movements_attributes_MOVE_INDEX_notes">Notes</label>
        <textarea name="session[movements_attributes][MOVE_INDEX][notes]" id="session_movements_attributes_MOVE_INDEX_notes" class="form-control"></textarea>
      </div>
    </div>

    <div class="setting">
      <div class="setcontainerMOVE_INDEX set">
        <div class="work-set row mb-2">
          <div class="col-6">
            <input type="number" class="form-control weight-input" placeholder="Weight">
          </div>
          <div class="col-6">
            <input type="number" class="form-control reps-input" placeholder="Reps">
          </div>
        </div>
      </div>
      <input type="hidden" class="sets" name="session[movements_attributes][MOVE_INDEX][work]" id="session_movements_attributes_MOVE_INDEX_work">
      <button type="button" class="btn btn-outline-secondary btn-sm mt-2" data-action="click->sessioncreate#addset">Add Set</button>
    </div>
  </div>
</template>

<template data-sessioncreate-target="settemplate">
    <div class="work-set row mb-2">
      <div class="col-6">
        <input type="number" class="form-control weight-input" placeholder="Weight">
      </div>
      <div class="col-6">
        <input type="number" class="form-control reps-input" placeholder="Reps">
      </div>
    </div>
</template>

</div>