<p style="color: green"><%= notice %></p>

<% content_for :title, "Sessions" %>
<div class="card m-1 m-lg-5">
  <div class="card-header">
    <h1>Sessions</h1>
  </div>
  <div class="card-body">
<div id="sessions">
  <% @sessions.each do |session| %>
  <div class="row">
    <%= render "sessionname", session: session %>
    <div class="col-4">
      <%= link_to "Show this session", session, class:"btn btn-outline-secondary" %>
    </div>
  </div>

    <div class="row">
      <div class="col-4">
      Fists: <%= session.likes.count %>
      </div>
      <% session.likes.each do |l| %>
      <%= l.user %>
      <% end %>
      <div class="col-4">
      <%= button_to "fist", session_likes_path(session), class:"btn btn-primary"%>
      </div>
    </div>

  <% end %>
</div>
</div>
</div>
<%= link_to "New session", new_session_path, class:"btn btn-outline-primary m-2" %>
