<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= workout.desc %>
  </p>

  <div id="exercise">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Sets:</strong>
    <%= exercise.sets %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= exercise.reps %>
  </p>

</div>


</div>
