<p style="color: green"><%= notice %></p>

<%= render "programs/workouts/workout", workout: @workout %>

<div>
  <%= link_to "Edit this workout", edit_program_workout_path(@program, @workout) %> |
  <%= link_to "Back to workouts", program_workouts_path(@program) %>

  <%= button_to "Destroy this workout", program_workout_path(@program, @workout), method: :delete %>
</div>
